input[type=button]{
    border-radius: 5%;
    background-color: #3C9E3C;
    margin-left: 30px;
    color: antiquewhite;
    border: #3DCF3D;
    height: 30px;
    width: 150px; 
    cursor: pointer;
}


input[type=button]:hover{
    background-color: #1a771a;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.0), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}
 

* {
    text-align: center;
  }
  